<% form_for(@company) do |f| %>
  <%= f.error_messages %>
  <table align="center" class="sample" border="0">
    <tr>
      <td colspan="2"><h3>Editing company</h3></td>
    </tr>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :rif %></td>
      <td><%= f.text_field :rif %></td>
    </tr>
    <tr>
      <td><%= f.label :phone %></td>
      <td><%= f.text_field :phone %></td>
    </tr>
    <tr>
      <td><%= f.label :fax %></td>
      <td><%= f.text_field :fax %></td>
    </tr>
    <tr>
      <td><%= f.label :address %></td>
      <td><%= f.text_field :address %></td>
    </tr>
  </table>
  <br/>
  <br/>
  <p>
    <%= link_to image_tag("/images/back.png", :title => "Back", :border=>0), companies_path %>
    <%= image_submit_tag("/images/edit.png", :title => "Update Company", :border=>0) %>
  </p>
<% end %>