<h1>New credit card</h1>

<% form_for(@creditcard) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label(:number,"Credit card number") %><br />
    <%= f.text_field(:number, :maxlength =>16, :size =>20) %><br />
    <%= image_tag "creditcards.jpg" %>
  </p>
  <p>
    <%= f.label(:expdate,"Expiration date") %><br />
    <%= f.date_select :expdate, :discard_day => true, :start_year => Date.current.year, :end_year => 2037  %>
  </p>
  <p>
    <%= f.label(:code,"Security code") %><br />
    <%= f.password_field(:code, :maxlength => 3) %>
    <a href="http://localhost:3000/code" onclick="window.open(this.href,'new_window','height=160,width=220');return false;">What's a security code?</a>
  </p>
  <p>
    <%= f.label(:name,"Cardholder's Name") %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', creditcards_path %>