
<% form_for(@creditcard) do |f| %>
  <%#= f.error_messages %>

  <%= error_messages_for 'creditcard', :header_message => nil %>
  <table class="sample" border="0">
    <tr>
        <td colspan="2"><h3>New credit card</h3></td>
      </tr>
    <tr>
      <td><%= f.label(:number,"Credit card number") %></td>
      <td><%= f.text_field(:number, :maxlength =>16, :size =>20) %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= image_tag "creditcards.jpg" %></td>
    </tr>
    <tr>
      <td><%= f.label(:expdate,"Expiration date") %></td>
      <td><%= f.date_select :expdate, :discard_day => true, :start_year => Date.current.year, :end_year => 2037  %></td>
    </tr>
    <tr>
      <td><%= f.label(:code,"Security code") %></td>
      <td><%= f.password_field(:code, :maxlength => 3) %>
        <a href="http://localhost:3000/code" onclick="window.open(this.href,'new_window','height=160,width=220');return false;">What's a security code?</a></td>
    </tr>
    <tr>
      <td><%= f.label(:name,"Cardholder's Name") %></td>
      <td><%= f.text_field :name %></td>
    </tr>
  </table>
  <p>
    <%= link_to image_tag("/images/back.png", :title => "Back", :border=>0), creditcards_path %>
    <%= image_submit_tag("/images/new.png", :title => "Create Credit Card", :border=>0) %>
  </p>
<% end %>