<h1>Listing credit cards</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Exp. date</th>
    <%#*<th>Code</th>%>
    <th>Cardholder's Name</th>
  </tr>

<% @creditcards.each do |creditcard| %>
  <tr>
    <td><%=h creditcard.four_numbers %></td>
    <td><%=h creditcard.expdate.month %>/<%=h creditcard.expdate.year %></td>
    <!--<td><%#=h creditcard.code %></td>-->
    <td><%=h creditcard.name %></td>
    <td><%= link_to 'Show', creditcard %></td>
    <td><%= link_to 'Edit', edit_creditcard_path(creditcard) %></td>
    <td><%= link_to 'Destroy', creditcard, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New credit card', new_creditcard_path %>