<h1>New credit or debit card</h1>

<% form_for(@creditcard) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label(:name,"Cardholder's Name") %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label(:number,"Credit or debit card number") %><br />
    <%= f.text_field(:number, :maxlength =>10) %><br />
    <%= image_tag "creditcards.tiff" %>
  </p>
  <p>
    <%= f.label(:expdate,"Expiration date") %><br />
    <%= f.date_select :expdate, :discard_day => true %>
  </p>
  <p>
    <%= f.label(:code,"Security code") %><br />
    <%= f.password_field(:code, :maxlength => 4) %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', creditcards_path %>