<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mail Boxes Ucab</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<%= stylesheet_link_tag "scaffold" %>
<link rel="shortcut icon" href="../images/dropbox.png"/>
</head>
<body>
<div id="header">
	<h1>mail boxes ucab</h1>
	<h2>Trust and speed in your shipments</h2>
        <% if session[:user] != nil %>
            <% if session[:user] != nil %>
         	    <ul>
		         <li><a href="#" accesskey="1" title="">Home</a></li>
                         <li><a href="#" accesskey="2" title="">Orders</a></li>
		         <li><a href="#" accesskey="3" title="">Address Book</a></li>
		         <li><a href="#" accesskey="4" title="">My Info</a></li>
	            </ul>
            <%  else %>
                    <ul>
		         <li><a href="#" accesskey="1" title="">Menu admin1</a></li>
		         <li><a href="#" accesskey="2" title="">Menu admin2</a></li>
		         <li><a href="#" accesskey="4" title="">Menu admin3</a></li>
	            </ul>
            <%  end %>
        <% end %>
</div>
<div id="content">
	<div id="colOne">
		<h3>Customers</h3>
		<div class="bg1">
                  <% if session[:user] == nil %>
			<ul>
                                <li><%= link_to "Register", :controller => :application, :action => :gotogoogle %></li>
				<li><%= link_to "Login", :controller => :application, :action => :clientgotogoogle %></li>
			</ul>
                   <% else %>
                        <ul>
                                <li><%= session[:user] %></li>
                                <li><%= link_to "Logout", :controller => :session, :action => :client_logout %></li>
                        </ul>
                  <% end %>
		</div>
		<h3>Track a Shipment</h3>
		<div class="bg1">
			<ul>
				<li class="first"><input type="text" name="trackId" id="trackId"/></li>
			</ul>
		</div>
                <h3>Administration</h3>
		<div class="bg1">
			<ul>
				 <li><%= link_to "Login"%></li>
			</ul>
		</div>
	</div>
	<div id="colTwo">
		<div class="bg2">
                      <p style="color: green"><%= flash[:notice] %></p>
                      <%= yield -%>
                </div>
        </div>
</div>
<div id="footer">
	<div class="bg2"><p>Copyright © 2011 www.mailboxesucab.com. All Rights Reserved. Designed by ILC</p></div>
</div>
</body>
</html>
