<div id="header">
  <h1>mail boxes ucab</h1>
  <h2>Trust and speed in your shipments</h2>
  <% if session[:user] != nil %>
    <% if session[:user] != nil %>
      <ul>
        <li><a href="/home/index" accesskey="1" title="">Home</a></li>
        <li><a href="/orders" accesskey="2" title="">Orders</a></li>
        <li><a href="/addresses" accesskey="3" title="">Address Book</a></li>
        <li><a href="/creditcards" accesskey="4" title="">Payments</a></li>
        <li><a href="/clients/<%= session[:id] %>" accesskey="5" title="">Account</a></li>
      </ul>
    <%  else %>
      <ul>
        <li><a href="#" accesskey="1" title="">Menu admin1</a></li>
        <li><a href="#" accesskey="2" title="">Menu admin2</a></li>
        <li><a href="#" accesskey="4" title="">Menu admin3</a></li>
      </ul>
    <%  end %>
  <% end %>
</div>
<div id="content">
  <div id="colOne">
    <h3>Customers</h3>
    <div class="bg1">
      <% if session[:user] == nil %>
        <ul>
          <li><%= link_to "Register", :controller => :application, :action => :gotogoogle %></li>
          <li><%= link_to "Login", :controller => :application, :action => :clientgotogoogle %></li>
        </ul>
      <% else %>
        <ul>
          <li><%= session[:user] %></li>
          <li><a href="#" onclick="openlogout()">Logout</a></li>
        </ul>
      <% end %>
    </div>
    <h3>Track a Shipment</h3>
    <div class="bg1">
      <ul>
        <li class="first"><input type="text" name="trackId" id="trackId"/></li>
        <li><a href="/orders/">Search</a></li>
      </ul>
    </div>
    <% if session[:user] == nil %>
      <h3>Employees</h3>
      <div class="bg1">
        <ul>
          <li><%= link_to "Login"%></li>
        </ul>
      </div>
    <%  end %>
  </div>
  <div id="colThree">
    <img src="/images/ucab.jpg" width="152px" height="164px" alt="boxes" align="right"></img>
    <img src="/images/boxes.jpg" width="152px" height="202px" alt="boxes"></img>
    <% if session[:user]!=nil %>
      <img style="display:none;"
           onerror="not_logged_in_to_gmail()"
           src="https://mail.google.com/mail/photos/static/AD34hIhNx1pdsCxEpo6LavSR8dYSmSi0KTM1pGxAjRio47pofmE9RH7bxPwelO8tlvpX3sbYkNfXT7HDAZJM_uf5qU2cvDJzlAWxu7-jaBPbDXAjVL8YGpI"
           />
         <% end %>
  </div>
  <div id="colTwo">
    <div class="bg2">
      <p style="color: green"><%= flash[:notice] %></p>
      <%= yield -%>
    </div>
  </div>

</div>
<div id="footer">
  <div class="bg2"><p>Copyright © 2011. www.mailboxesucab.com. All Rights Reserved. Designed by ILC. </p></div>
</div>
