<% form_for(@employee) do |f| %>
  <%= f.error_messages %>

<table align="center" class="sample" border="0">
      <tr>
        <td colspan="2"><h3>New employee</h3></td>
      </tr>
      <tr>
        <td><%= f.label :account %></td>
        <td><%= f.text_field :account %></td>
      </tr>
      <tr>
        <td><%= f.label :password %></td>
        <td><%= f.password_field :password %></td>
      </tr>
      <tr>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label :lastname %></td>
        <td><%= f.text_field :lastname %></td>
      </tr>
      <tr>
        <td><%= f.label :role %></td>
        <td><%= f.select(:role, [['Administrator', 1], ['Mail Carrier', 2], ['Dispatcher', 3]]) %></td>
      </tr>
</table>

  <p>
    <%= link_to image_tag("/images/back.png", :title => "Back", :border=>0), employees_path %>          
    <%= image_submit_tag("/images/new.png", :title => "Create New Employee", :border=>0) %>
  </p>
<% end %>