<p>
<h4>Confirmation</h4>

<p>
  <b>Client:</b>
  <%=h @name %>
</p>

<p>
  <b>Address:</b>
  <%=h @address.nickname %>
</p>

<p>
  <b>Recipient:</b>
  <%=h @order.recipient %>
</p>

<p>
  <b>Fulladdress:</b>
  <%=h @order.fulladdress %>
</p>

<p>
  <b>Creditcard:</b>
  <%=h @creditcard.four_numbers %>
</p>

<b>Packages list:</b>

  <ol>
    <%for package in @order.packages %>
     <li>Description: <%=h package.description %>
       <br />Weight: <%=h package.weight %> Kg
       <br />Price: $ <%=h package.price %> </li>
    <% end %>
  </ol>

  <p>
   <b>Price: </b>$ <%= @total %> <br />
   <b>Taxes: </b>$ <%= @total * 0.1 %> <br />
   <b>Total Price: </b>$ <%= @total + (@total * 0.1) %> 
  </p>
</p>