<p>
<h4>Confirmation</h4>

<p>
  <b>Client:</b>
  <%=h @name %>
</p>

<p>
  <b>Address:</b>
  <%=h @address.nickname %>
</p>

<p>
  <b>Recipient:</b>
  <%=h @order.recipient %>
</p>

<p>
  <b>Fulladdress:</b>
  <%=h @order.fulladdress %>
</p>

<p>
  <b>Creditcard:</b>
  <%=h @creditcard.name %>
</p>

  <b>Packages list:</b>
  <ol>
    <%for package in @order.packages %>
     <li>Description: <%=h package.description %>
       <br />Weight: <%=h package.weight %>
       <br />Price: <%=h package.price %></li>
    <% end %>
  </ol>

 <p>
   <b>Total Price: </b> <%= @total %>
 </p>
</p>