<p>
<h4>Payment</h4>
<p>
<b>Packages list:</b>
  
  <ol>
    <%for package in @order.packages %>
     <li>Description: <%=h package.description %>
       <br />Weight: <%=h package.weight %> Kg
       <br />Price: $ <%=h package.price %> </li>
    <% end %>
  </ol>
</p>

  <p>
   <b>Price: </b> $ <%= @total %><br />
   <b>Taxes: </b> $ <%= @total * 0.1 %><br />
   <b>Total Price: </b> $ <%= @total + (@total * 0.1) %>
  </p>
  <p>
    <b>Creditcard: </b><br />
    <%= collection_select(:order ,:creditcard_id ,@creditcards , :id, :four_numbers) %>
  </p>
</p>