<p>
<h1>Online Bill</h1>

<p>
  <b>Billing #:</b>
  <%=h @order.id %>
</p>

<p>
  <b>Date:</b>
  <%=h @order.created_at %>
</p>

<p>
  <b>Client:</b>
  <%=h @name %>
</p>

<p>
  <b>Address:</b>
  <%=h @address.nickname %>
</p>

<p>
  <b>Recipient:</b>
  <%=h @order.recipient %>
</p>

<p>
  <b>Fulladdress:</b>
  <%=h @order.fulladdress %>
</p>

<p>
  <b>Creditcard:</b>
  <%=h @creditcard.name %>
</p>
  <b>Packages list:</b>
  <ol>
    <%for package in @order.packages %>
     <li>Description: <%=h package.description %>
       <br />Weight: <%=h package.weight %>
       <br />Price: <%=h package.price %></li>
    <% end %>
  </ol>

  <p>
    <img src=<%= @qr %>>
  </p>
  <a href="/orders/<%= @order.id %>.pdf" target ="blank">PDF Version</a>
</p>

<%= link_to 'Finish', orders_path %>