<h1 align="center"><%= t 'home.title' %></h1>
<%#*<table align="center" border="0">%>
  <%#*<tr>%>
    <%#*<td>%>
      <%# form_tag '' do %>
        <%#= hidden_field_tag 'locale','en' %>
        <%#= image_submit_tag("/images/usa.png", :title => "Change Language to English", :border=>0, :index => nil) %>
      <%# end %>
    <%#*</td>%>
    <%#*<td>%>
      <%# form_tag '' do %>
        <%#= hidden_field_tag 'locale','es' %>
        <%#= image_submit_tag("/images/spain.png", :title => "Change Language to Spanish", :border=>0, :index => nil) %>
      <%# end %>
    <%#*</td>%>
  <%#*</tr>%>
<%#*</table>%>
<% if session[:user] == nil %>
  <p><%= t 'home.paragraph' %></p>
  <p align="center"><img src="/images/anim.gif"></img></p>
<%  else %>
  <% if @number > 0 %>
    <p><a href='/orders/notification/1'><%= t 'home.notification1' %> <%=h @number%> <%= t 'home.notification2' %></a></p>
  <%end%>
  <p><%= t 'home.information1' %></p>
  <p><%= t 'home.information2' %></p>
  <p><%= t 'home.information3' %></p>
  <p><%= t 'home.information4' %></p>
  <p>- <i><%= t 'home.information5' %></i></p>
  <img src="/images/delivery.jpg"></img>
<%  end %>