<h1>New user registration</h1>


<% form_for(@client) do |f| %>
  <%#= f.error_messages %>

  <%= error_messages_for 'client', :header_message => "Please review and correct the following errors:" %>

  <h4>Personal info</h4>

  <p>
    <%= f.label(:account,"Gmail account") %><br />
    <%= f.text_field :account,:readonly => true %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :firstname,:readonly => true %>
  </p>
  <p>
    <%= f.label :middle_name %><br />
    <%= f.text_field :middlename %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :lastname,:readonly => true %>
  </p>
  <p>
    <%= f.label :sur_name %><br />
    <%= f.text_field :surname %>
  </p>
  <p>
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday,:start_year => Date.current.year, :end_year => 1920 %>
  </p>
  <p>
    <%= f.label(:phone,"Phone no.") %><br />
    <%= f.text_field :phone %>
  </p>
  <br />
  <h4>Address info</h4>
  <% f.fields_for :addresses do |a| %>
    <p>
      <%= a.label(:street,"Avenue/Street") %><br />
      <%= a.text_field :street %>
    </p>
    <p>
      <%= a.label(:name,"Residence/House name") %><br />
      <%= a.text_field :name %>
    </p>
    <p>
      <%= a.label(:number,"Apartment/House number") %><br />
      <%= a.text_field :number %>
    </p>
    <p>
      <%= a.label(:zone,"Urbanization") %><br />
      <%= a.text_field :zone %>
    </p>
    <p>
      <%= a.label :city%><br />
      <%= a.text_field :city %>
    </p>
    <p>
      <%= a.label(:zip,"Zip code") %><br />
      <%= a.text_field :zip %>
    </p>
    <p>
      <%= a.label :country%><br />
      <%= a.text_field :country %>
    </p>
    <p>
      <%= a.label(:nickname,"Unique address nickname") %><br />
      <%= a.text_field :nickname %>
    </p>

    <%= a.label :address_coordinates%><br/><br/>

    <div  id="map_canvas" style="width:640px; height:480px"> </div>
    <%= a. hidden_field(:longitude) %><%= a. hidden_field(:latitude)%>
    <br />
  <%end%><br />

  <h4>Payment Method info</h4>
  <% f.fields_for :creditcards do |c| %>
    <p>
      <%= c.label(:name,"Cardholder's Name") %><br />
      <%= c.text_field :name %>
    </p>
    <p>
      <%= c.label(:number,"Credit or debit card number") %><br />
      <%= c.text_field(:number, :maxlength =>10) %><br />
      <%= image_tag "creditcards.tiff" %>
    </p>
    <p>
      <%= c.label(:expdate,"Expiration date") %><br />
      <%= c.date_select :expdate, :discard_day => true %>
    </p>
    <p>
      <%= c.label(:code,"Security code") %><br />
      <%= c.password_field(:code, :maxlength => 4) %>
    </p>
  <%end%>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', clients_path %>