<div id="header">
  <h1>mail boxes ucab</h1>
  <h2>Trust and speed in your shipments</h2>
  <% if session[:user] != nil %>
    <ul>
      <li><a href="/home/index" accesskey="1" title="">Home</a></li>
      <li><a href="/orders" accesskey="2" title="">Orders</a></li>
      <li><a href="/addresses" accesskey="3" title="">Address Book</a></li>
      <li><a href="/creditcards" accesskey="4" title="">Payments</a></li>
      <li><a href="/clients/<%= session[:id] %>" accesskey="5" title="">Account</a></li>
    </ul>
  <% end %>
</div>
<div id="content">
  <div id="colOne">
    <h3>Customers</h3>
    <div class="bg1">
      <% if session[:user] == nil %>
        <ul>
          <li><img alt="key"  src="/images/googlekey.png" width="25px" height="25px"></img> <%= link_to "Register", :controller => :application, :action => :gotogoogle %></li>
          <li><img alt="key"  src="/images/googlekey.png" width="25px" height="25px"></img> <%= link_to "Login", :controller => :application, :action => :clientgotogoogle %></li>
        </ul>
      <% else %>
        <ul>
          <li><%= session[:user] %></li>
          <li align="center"><a href="#" onclick="openlogout()"><img src="/images/logout.png" width="40px" height="40px" title="Logout"></img></a></li>
        </ul>
      <% end %>
    </div>
    <h3>Track a Shipment</h3>
    <div class="bg1">
      <ul>
        <% form_tag :controller => "orders", :action => "track",:html => {:id => 'main_input' }, :method => "get" do -%>
         <li class="first"> <%= text_field_tag "trackid", @trackid,:class=>"field text" %></li>

         <p style="padding-left: 30px;"><%= image_submit_tag("/images/login.png", :title => "Login", :border=>0) %></p>
        <%  end -%>
      </ul>
    </div>
  </div>
  <div id="colThree">
    <img src="/images/ucab.jpg" width="152px" height="164px" alt="boxes" align="right"></img>
    <img src="/images/boxes.jpg" width="152px" height="202px" alt="boxes"></img>
    <% if session[:user]!=nil %>
      <img style="display:none;"
           
           src="https://mail.google.com/mail/photos/static/AD34hIhNx1pdsCxEpo6LavSR8dYSmSi0KTM1pGxAjRio47pofmE9RH7bxPwelO8tlvpX3sbYkNfXT7HDAZJM_uf5qU2cvDJzlAWxu7-jaBPbDXAjVL8YGpI"
           />
         <% end %>
  </div>
  <div id="colTwo">
    <div class="bg2">
      <p style="color: green"><%= flash[:notice] %></p>
      <p style="color: red"><%= flash[:error] %></p>
      <%= yield -%>
    </div>
  </div>

</div>
<div id="footer">
  <div class="bg2"><p>Copyright © 2011. www.mailboxesucab.com. All Rights Reserved. Designed by ILC. </p></div>
</div>
