<% content_for :googlemaps do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript">
    var myLatlng = new google.maps.LatLng(<%= @address.latitude %>,<%= @address.longitude %>);

    function initialize() {
      var myOptions = {
        zoom: 14,
        center: myLatlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }

      var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

      var marker = new google.maps.Marker({
        position: myLatlng,
        title:"<%= @address.nickname %>"
      });
       marker.setMap(map);
    }
   
  </script>
<% end %>
<p>
  <b>Street:</b>
  <%=h @address.street %>
</p>

<p>
  <b>Name:</b>
  <%=h @address.name %>
</p>

<p>
  <b>Number:</b>
  <%=h @address.number %>
</p>

<p>
  <b>Zone:</b>
  <%=h @address.zone %>
</p>

<p>
  <b>City:</b>
  <%=h @address.city %>
</p>

<p>
  <b>Country:</b>
  <%=h @address.country %>
</p>

<p>
  <b>Zip:</b>
  <%=h @address.zip %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @address.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @address.longitude %>
</p>

<p>
  <b>Nickname:</b>
  <%=h @address.nickname %>
</p>

<p>
  <b>Client:</b>
  <%=h @address.client_id %>
</p>

<div  id="map_canvas" style="width:640px; height:480px"> </div>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>