<% form_for(@creditcard) do |f| %>
  <%#= f.error_messages %>

  <%= error_messages_for 'creditcard', :header_message => nil %>
  <table align="center" class="sample"  border="0">
    <tr>
      <td colspan="2"><h3>Editing credit card</h3></td>
    </tr>
    <tr>
      <td><%= f.label(:name,"Cardholder's Name") %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label(:number,"Credit card number") %></td>
      <td><%= f.label @creditcard.four_numbers %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= image_tag "creditcards.jpg" %></td>
    </tr>
    <tr>
      <td><%= f.label(:expdate,"Expiration date") %></td>
      <td><%= f.date_select :expdate, :discard_day => true, :start_year => Date.current.year, :end_year => 2037  %></td>
    </tr>
  </table>
  <%#*<p>%>
  <%#= f.label(:code,"Security code") %>
  <%#= f.password_field(:code, :maxlength => 3) %>
  <%#*</p>%>
  <br/>
  <br/>
  <p>
    <%= link_to image_tag("/images/back.png", :title => "Back", :border=>0), creditcards_path %>
    <%= image_submit_tag("/images/edit.png", :title => "Update Credit Card", :border=>0) %>
  </p>
<% end %>