<table border="0" class="sample"
       <tr>
    <td><%= f.label :collect_address%></td>
    <td><%= collection_select(:order ,:address_id ,@addresses , :id, :nickname) %></td>
  </tr>
  <tr>
    <td><%= f.label :recipient %></td>
    <td><%= f.text_field :recipient %></td>
  </tr>
  <tr>
    <td><%= f.label :fulladdress %></td>
    <td><%= f.text_field :fulladdress %></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.label(:latitude,"Address Coordinates")%><br/>(Drag the marker to a location approximate to your address in the map below)</td>
  </tr>
  <tr>
    <td colspan="2"><div  id="map_canvas" style="width:440px; height:280px"></div></td>
  </tr>
  <%= f.hidden_field(:longitude) %><%= f.hidden_field(:latitude)%>
</table>
<h1>Packages info</h1>
<% f.fields_for :packages do |a| %>
  <%= render 'package_fields', :f => a %>
<%end%>

<p><%= link_to_add_fields "add package", f, :packages %></p>