<h1>Listing orders</h1>

<table>
  <tr>
    <th>Date             </th>
    <th>Recipient</th>
    <th>Fulladdress</th>
    <th>Status</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%=h order.created_at %></td>
    <td><%=h order.recipient %></td>
    <td><%=h order.fulladdress %></td>
    <td><%=h order.actual_status %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New order', new_order_path %>