<h1 align="center">Track Shipments</h1>
<table align="center" class="sample"  border="0">
  <tr>
    <td colspan="2"><h3>Detailed Results</h3></td>
  </tr>
  <tr>
    <td>Tracking number: </td>
    <td><%=h @order.id %></td>
  </tr>
  <tr>
    <td>Ship date:</td>
    <td><%=h @order.created_at %></td>
  </tr>
  <tr>
    <td>Delivery address:</td>
    <td><%=h @order.fulladdress %></td>
  </tr>
  <tr>
    <td>Status:</td>
    <td>- <%=h @order.actual_status %></td>
  </tr>
  <% if (@order.status == 1)||(@order.status == 4) %>
    <tr>
      <td>Detailed Results</td>
      <td>- <%=h @address1%></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>- <%=h @address2%></td>
    </tr>
  <% end %>
  <% if @order.status == 2 %>
    <tr>
      <td>Detailed Results</td>
      <td>- <%=h @address1%></td>
    </tr>
  <% end %>
  <% if @order.status == 3 %>
    <% if @order.company_id == nil %>
      <tr>
        <td>Detailed Results</td>
        <td>- <%=h @address1%></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>- <%=h @address2%></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>- <%=h @address3%></td>
      </tr>
    <% else %>
      <tr>
        <td>Detailed Results</td>
        <td>- <%=h @address1%></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>- <%=h @address2%></td>
      </tr>
      <%= @a%>
      <tr>
        <td>&nbsp;</td>
        <td>- <%=h @address3%></td>
      </tr>
    <% end %>
  <% end %>
</table>
<br/>
<br/>
<% if session[:id] != nil %>
  <a href="/orders/" ><img src="/images/back.png" title="Back" </img></a>
<%else%>
  <a href="/" ><img src="/images/back.png" title="Back" </img></a>
<% end %>
<a href=javascript:window.print();><img src="http://icons.iconarchive.com/icons/iconshock/real-vista-text/32/print-icon.png" title="Printable Version" </img></a>