<h1>New client</h1>

<% form_for(@client) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :account %><br />
    <%= f.text_field :account,:readonly => true %>
  </p>
  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname,:readonly => true %>
  </p>
  <p>
    <%= f.label :middlename %><br />
    <%= f.text_field :middlename %>
  </p>
  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname,:readonly => true %>
  </p>
  <p>
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </p>
  <p>
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', clients_path %>