<p>
  <b>Gmail account:</b>
  <%=h @client.account %>
</p>

<p>
  <b>First name:</b>
  <%=h @client.firstname %>
</p>

<p>
  <b>Middle name:</b>
  <%=h @client.middlename %>
</p>

<p>
  <b>Last name:</b>
  <%=h @client.lastname %>
</p>

<p>
  <b>Sur name:</b>
  <%=h @client.surname %>
</p>

<p>
  <b>Birthday:</b>
  <%=h @client.birthday %>
</p>

<p>
  <b>Phone no.:</b>
  <%=h @client.phone %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Deactivate Account', @client, :confirm => 'Are you sure?', :method => :delete %> |
<a href="/home/index" >Back</a>