<h1><%= link_to image_tag("/images/new.png", :title => "New Route", :border=>0), new_route_path %>
  Assign Routes</h1>

<table>
  <tr>
    <th align="center"><h2>#</h2></th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th align="center"><h2>Created at</h2></th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th align="center"><h2>Employee</h2></th>
  </tr>

<% @routes.each do |route| %>
  <tr>
    <td align="center"><%=h route.id %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td align="center"><%=h route.created_at.year %>-<%=h route.created_at.month %>-<%=h route.created_at.day %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td align="center"><%=h route.employee.fullname %></td>
    <td align="center"><%= link_to image_tag("/images/good.png", :title => "Show Route", :border=>0), route %></td>
  </tr>
<% end %>
</table>